body{
    background-color: #04000C;
    color: #EBD7FF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    margin: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

img{
    max-width: 300px;
}

a{
    text-decoration: none;
    color: #EBD7FF;
}
a:hover{
    cursor:pointer;
    color: red;
}

.event_card{
    display: flex;
    align-items: center;
    margin-bottom: 64px;
}

.event_card img{
    margin: auto 32px;
}
.event_card h1{
    max-width: 20vh;
    text-align: right;
}