{% extends 'base.html' %}

{% block content %}

    <form>
        <div>
            <!-- searches for the name of the cat -->
            <input type="text" name="title" placeholder="title"/>
            <input type="submit" value="Search"/>
        </div>
        <a href="/">Clear Search</a>
    </form>

    <h1>Upcoming events</h1>
    {% for event in events %}
    <a href={% url 'event_detail' pk=event.id %}>
                <div class = "img_card">
                    <h3>{{event.title}}</h3>
                    <img src="{{event.img}}" alt="">
                    <p>{{event.description}}</p>
                    <p>{{event.genres}}</p>
                    </div>
            </a>
        


    {% endfor %}
{% endblock %}



