{% extends 'base.html' %}

{% block content %}

<div class="intro-div">
  <h1 class="logo">
    <span class="logo-parts">U</span>
    <span class="logo-parts">N</span>
    <span class="logo-parts">H</span>
    <span class="logo-parts">E</span>
    <span class="logo-parts">R</span>
    <span class="logo-parts">D</span>
  </h1>

</div>

<h1>Login</h1>
<form method="POST" action="." class ="form-styler">
  {% csrf_token %}
  {{ form.as_p}}
  <input type="submit" value="Submit" />
</form>
<div style="display: flex;flex-direction: column;align-items: center;">

  or<br>
  <a href="{% url 'signup' %}"><button>sign up</button></a>

</div>


{% endblock %}